body {
  font-family: Arial, sans-serif;
  background-color: lightblue;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

ol, img {
  display: block;
  width: 700px;
  margin: 20px auto;
}
