html {
  background-color: #888;
}

body {
  min-width: 720px;
}
h1 {
  color: blue;
  text-align: center;
}

main {
  margin-left: 25%;
  max-width: 50%;
}

button {
  border: solid 1px red;
  margin: 10px;
}

ul {
  list-style: none;
  background-color: #FFF;
  border: solid 1px red;
}

li {
  border-bottom: dotted 3px blue;
}

#edit-button {
  margin-left: 80%;
}
